<%= turbo_frame_tag "post_#{post.id}" do %>
    <div class="post">
        <%= link_to post.name, post_path(post) %>
        <div class="post__actions">
            <%= button_to "Delete",
                post_path(post),
                method: :delete,
                class: "btn btn--light" %>
            <%= link_to "Edit",
                edit_post_path(post),
                class: "btn btn--light" %>
        </div>
    </div>
<% end %>